:root{
    --cor-titulo: #bb6a3f;
    --cor-caixa: #e5ddd0;
    --cor-de-fundo: #80744a;   
    --cor-texto: #000000;
    --cor-borda: #bb6a3f;
    --cor-footer: #414224;
}

body{
    background-color: var(--cor-de-fundo);
}

.titulo {
    color: var(--cor-titulo);
    font-family: 'Poppins', sans-serif;
}

.texto {
    color: var(--cor-texto);
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.link{
    text-decoration: none;
    color: var(--cor-titulo);
}

.container {
    background-color: var(--cor-caixa);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;

    border-radius: 25px;
    border: 5px solid var(--cor-borda);
    
    margin-bottom: 8.5%;
    margin-left: auto;
    margin-right: auto;
    
    width: 85%;
    padding-top: 5vh;
    padding-bottom: 5vh;   
    
}

.azul{
    color: #5887ff;
    font-weight: bold;
}

.vermelho{
    color: #CC2936;
    font-weight: bold;
}

.verde{
    color: #88AB75;
    font-weight: bold;
}

.img{
    border-radius: 360px;
    border: 5px solid var(--cor-borda);
}

.nome{
    font-family: 'Poppins', sans-serif;
    color: var(--cor-titulo);
}

footer{
    width: 100%;
    height: fit-content;
    background-color: var(--cor-footer);
    border-top: solid 4px var(--cor-borda);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.img-contato{
    width: 70px;
}